/* --------------------------------------- */
/*               reset                */
/* --------------------------------------- */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Passion+One:wght@400;700&display=swap"); */

/* the basic */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:focus {
  outline: 1.9px dotted;
}
section {
  padding: 4rem 0;
  padding-top: 8rem;
}

:root {
  --margin-bottom-section: 2rem;
  --margin-bottom-component: 1.5rem;
}
/* --------------------------------------- */
/*             END: reset             */
/* --------------------------------------- */

/* --------------------------------------- */
/*           GLOBAL ELEMENTS           */
/* --------------------------------------- */

/* ------------- color scheme ------------ */
:root {
  /* primary */
  --clr-primary-1: #ef4857;
  --clr-primary-2: #072e50;
  --clr-primary-3: #fafafa;
  /* secondary */
  --clr-secondary-1: #35526a;
  --clr-secondary-2: #7e9eba;
  --clr-secondary-3: #0e0e0e;
  --clr-secondary-4: #c4c4c4;
}

/* ---------- END: color scheme ---------- */

/* -------------- typography ------------- */

/* text padding */
:root {
  --title-padding-bottom: 1rem;
  --content-padding-bottom: 1.5rem;
}
/* font sizes */
:root {
  --fs-title-large: clamp(48px, 6vw, 72px);
  --fs-title-medium: clamp(32px, 4vw, 48px);
  --fs-title-regular: clamp(20px, 3vw, 22px);
  --fs-title-small: clamp(15px, 1.2vw, 16px);
  --fs-content: clamp(18px, 1rem, 24px);
}

html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(16px, 1.2vw, 18px);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
main {
  min-height: 70vh;
}
header > nav,
.title,
.subtitle,
.call-to-actions,
.header__brand {
  font-family: "Passion One", cursive;
  letter-spacing: 0.5px;
}
.call-to-actions {
  font-size: var(--fs-title-regular);
}
.title,
.subtitle {
  line-height: 1;
}
.title {
  font-size: var(--fs-title-large);
  font-weight: 400;
  padding-bottom: var(--title-padding-bottom);
}
.subtitle {
  font-weight: 400;
  padding-bottom: var(--content-padding-bottom);
}

.section-title {
  /* font-size: 34px; */
  font-size: var(--fs-title-regular);
  margin: 0 auto;
  text-align: center;
  color: var(--clr-primary-3);
}
.header__brand,
.header__nav-item {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.content {
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: var(--content-padding-bottom);
  max-width: 72ch;
  word-wrap: normal;
}
/* ----------- END: typography ----------- */

/* --------------- buttons --------------- */
/* btn-variables*/
:root {
  --btn-drop-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08),
    2px 12px 20px rgba(0, 0, 0, 0.1);
  --btn-border-radius: 5px;
  --btn-background: var(--clr-primary-1);

  --btn-background-hover: var(--clr-secondary-1);
  --btn-color: var(--clr-primary-2);
  --btn-color-hover: var(--clr-primary-3);
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
/* button:focus { 
} 
*/
.btn-primary,
.btn-secondary {
  box-shadow: var(--btn-drop-shadow);
  border-radius: var(--btn-border-radius);
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 1.2rem; */
}
.btn-primary {
  transition: all 0.2s ease-out;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2) ;
}

.btn-secondary {
  background-color: transparent;
  color: var(--clr-primary-1);
  border: 2px solid var(--clr-primary-1);
}

.btn-primary:hover,
.btn-secondary:hover {
  color: var(--btn-color-hover);
}
.btn-primary:focus {
  outline: 1.9px dotted var(--clr-primary-3);
}

.link-button,
.link-button:visited {
  text-decoration: none;
  /* margin-bottom: var(--margin-bottom-component); */
  margin-bottom: 1.4rem;
  color: var(--clr-primary-2);
}
.link-button:hover {
  color: var(--clr-primary-3);
}
.container {
  /* NOTE: this container should be used to wrapp
  the content only; wrapping the whole section may
  cause undesired horizontal shrink */
  max-width: 1600px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.section-divider {
  display: block;
  margin: 0 auto 0.6rem;
  height: 5px;
  width: 50px;
  background-color: var(--clr-primary-3);
}

@media only screen and (max-width: 960px) {
  .container {
    width: calc(100% - 2rem);
  }
}

/* ---------------- input ---------------- */
input {
  caret-color: var(--clr-primary-1);
}

/* --------------------------------------- */
/*          END: GLOBAL ELEMENTS        */
/* --------------------------------------- */

/* --------------------------------------- */
/*              SECTIONS              */
/* --------------------------------------- */

/* -------------- navigation ------------- */
/* NOTE: nav styling goes here */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  /*   padding-top: 0.7rem; */
  /*   set height to make site-nav overflow */
  /*   for better background color control */
  max-height: 60px;

  background: var(--clr-primary-1);
  box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.1),
    0px 11px 29px 5px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: grid;
  grid-template-columns: minmax(30vw, auto) 1fr auto;
  grid-template-rows: minmax(auto, 60px) minmax(auto, 1fr);
  align-items: center;
  justify-content: flex-end;
}

/* navigation grid layout */
/* .header__brand, */
.header__burger-btn,
.header__site-nav {
  grid-row: 1/2;
}
.header__brand {
  grid-column: 1/2;
}
.header__burger-btn {
  grid-column: 3/-1;
}
.header__site-nav {
  grid-column: 2/3;
}
/* end: navigation grid layout */

.header__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__brand img {
  display: flex;
  align-self: center;
  max-width: 150px;
  width: 20vw;
}

.header__brand-logo {
  max-width: calc(6vw + 60px);
}

.nav-link {
  text-decoration: none;
  color: var(--clr-primary-2);
  cursor: pointer;
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-out;
}

/* .nav-link:first-of-type {
  padding-left: 0;
} */

.nav-link--active,
.nav-link:hover,
.nav-link:focus,
.nav-link:focus-within {
  color: var(--clr-primary-3) !important;
  transition-delay: 0.1s;
}

.nav-link:focus {
  outline: 1.9px dotted var(--clr-primary-3) !important;
}

/* burger btn */
.header__burger-btn {
  display: none;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-self: right;
  align-self: center;
  max-width: 40px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  cursor: pointer;
  padding: 0.3rem;
  border: none;
  background: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  z-index: 100;
}
.header__burger-btn:focus {
  outline: 0.1rem dotted var(--clr-primary-3);
}
.header__burger-btn:hover .burger-btn__stick,
.header__burger-btn:focus .burger-btn__stick,
[aria-expanded="true"] .burger-btn__stick {
  background-color: var(--clr-primary-3);
}

.burger-btn__stick {
  display: block;
  height: 2px;
  width: 25px;
  background-color: var(--clr-primary-2);
}

.burger-btn__stick:nth-of-type(2n) {
  margin: auto 0;
}

/* end: burger btn */

.header__site-nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-item {
  text-align: center;
  position: relative;
  list-style: none;
  padding: 1.2rem 0;
  /* width: 100%; */
  transition: background-color 0.2s ease;
  z-index: 20;

  z-index: 1;
}
.header__nav-item:last-of-type {
  text-align: right;
}
/* .header__nav-item.nav-active > .nav-link::after, */
.header__nav-item > .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  /* min-width: 80px; */
  width: 100%;
  height: 82px;
  transform: translate(50%, -50%);
  z-index: -1;
  transition: all 0.5s ease-out;
}

/* .header__nav-item.nav-active > .nav-link::after, */
.header__nav-item:hover ::after {
  background-color: var(--clr-secondary-1);
}

/* .header__nav-item.nav-active > .nav-link {
  color: var(--clr-primary-3);
} */

.btn-primary__nav-item {
  background: var(--clr-primary-2);
  color: var(--clr-primary-3);
  font-size: 18px;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.btn-primary__nav-item:hover {
  background-color: var(--clr-secondary-1);
}
.btn-primary__nav-item:focus {
  outline: 1.9px dotted var(--clr-primary-3);
}

/* responsive breakpoint */

@media only screen and (max-width: 960px) {
  /* .header__nav-item.nav-active > .nav-link::after, */
  .header__nav-item:hover > .nav-link::after {
    background-color: transparent;
  }

  .header__burger-btn {
    display: flex;
  }
  .header__site-nav {
    opacity: 1;
    grid-row: 2/-1;
    grid-column: 1/-1;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 0.3s ease-out;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
  }
  .header__site-nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-1);
  }
  .header__site-nav-group {
    flex-direction: column;
  }
  .header__nav-item {
    text-align: center !important;
    position: relative;
  }

  [aria-expanded="false"] ~ nav {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;
    pointer-events: none;
  }

  .header__nav-item:last-of-type {
    margin-bottom: 4rem;
  }

  .nav-link::after {
    display: none;
  }
  .header__nav-item:hover:focus .nav-link {
    color: var(--clr-primary-3);
  }
}

/* ----------- END: navigation ----------- */

/* ----------------- hero ---------------- */
/* NOTE: hero styling goes here */

#hero {
  background-image: url(./assets/images/long-queues-of-shoppers.webp);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  /* z-index: -1; */
}
.hero-usp {
  min-height: 40vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--clr-primary-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-bottom: 4rem;
  transition: background-color 0.2s ease-out;
}
@media only screen and (max-width: 800px) {
  .hero-usp {
    background-color: rgba(7, 46, 80, 0.8);
  }
}
.hero-usp__title,
.hero-usp__intro {
  width: 100%;
  color: var(--clr-primary-3);
  text-align: center;
}
.hero-usp__title {
  max-width: 72ch;
  font-size: var(--fs-title-large);
}

.hero-usp__intro {
  /* text-align: justify; */
  font-size: var(--fs-content);
}
.hero-usp__call-to-actions {
  margin-top: 1.2rem;
}

@media only screen and (max-width: 400px) {
  .hero-usp__title {
    font-size: var(--fs-title-medium);
  }
}

/* -------------- END: hero -------------- */

/* --------------- features -------------- */
#features {
  background-color: var(--clr-secondary-1);
  color: var(--clr-primary-3);
  text-align: center;
  /* margin-top: 60px; */
  padding-top: 4rem;
  min-height: 70vh;
  padding-bottom: 5rem;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 30px 0;
}

.feature-item {
  text-align: center;
  width: calc(5vw + 400px);
  /* margin: 30px auto;
  padding: 0 25px; */
  margin: 2rem auto;
  padding: 0 3rem;
  display: inline-block;
}

.feature-icon,
.car-icon {
  display: inline-block;
  background-color: var(--clr-primary-2);
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-bottom: 25px;
  padding: 25px;
}

.feature-pic {
  height: 560px;
  margin-bottom: 25px;
  padding: 25px;
}

.car-icon {
  padding-bottom: 30px;
}

.feature-title {
  font-size: var(--fs-title-regular);
  font-weight: 700;
}

.feature-description {
  font-size: 18px;
  font-weight: 400;
}
/* ------------ END: features ------------ */

/* ------------- social proof ------------ */
/* NOTE: social proof styling goes here */
#social-proof {
  padding-top: 0.5rem;
}
.social {
  background-color: var(--clr-primary-2);
}

/* carousel */
.carousel {
  position: relative;
  min-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  scrollbar-width: none;
  /* width: calc(100vh - 2vw); */
  /* height: calc(100vh - 10%); */
}
/* @media only screen and (max-width: 360px) {
  .carousel__track {
    height: 100vh;
  }
} */
.carousel__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.carousel__btn:focus {
  outline: 1px dotted var(--clr-primary-3);
}
.carousel__btn--left,
.carousel__btn--right {
  top: 50%;
  transform: translatey(-50%);
}
.carousel__btn--left {
  left: clamp(0.5rem, 2.5vw, 0px);
}
.carousel__btn--right {
  right: clamp(0.5rem, 2.5vw, 0px);
}
.carousel__btn--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.angle--left {
  /* mask: url(./assets/icons/fa-solid_angle-left.svg); */
  mask-image: url(./assets/icons/fa-solid_angle-left.svg);
}
.angle--right {
  mask: url(./assets/icons/fa-solid_angle-right.svg);
}
.angle {
  fill: var(--clr-secondary-2);
}

.carousel__btn:hover .angle,
.carousel__btn:focus .angle {
  fill: var(--clr-secondary-4);
}

.carousel__track {
  /* background-color: red; */
  /* border: 5px solid red; */
  list-style: none;
  position: relative;

  scrollbar-width: none;
  max-height: 550px;
  max-width: 1600px;
  width: 100%;
  height: 300px;
  height: calc(80vh - 2rem);
  max-height: 500px;
  /* display: flex;
  align-items: center; */
}
@media only screen and (min-width: 500px) and (max-height: 360px) {
  .carousel {
    height: 100vh;
  }
}
.carousel__slide {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* background-color: rebeccapurple; */
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-bottom-component);
  /* opacity: 0; */
}

.comment__title,
.comment__content,
.comment__author-name {
  color: var(--clr-primary-3);
  text-align: center;
}
.comment__title,
.comment__author-name {
  font-weight: 700;
}
.comment__title {
  font-size: var(--fs-title-medium);
  max-width: 35ch;
}
.comment__title::before {
  content: "\201C";
}
.comment__title::after {
  content: "\201D";
}
.comment__content {
  text-align: center;
  font-style: italic;
}
.comment__author-name,
.comment__source {
  font-size: var(--fs-title-small);
}
.comment__author-name::before {
  content: "- ";
}
.comment__author-name::after {
  content: " -";
}
.comment__source {
  color: var(--clr-primary-1);
}
@media only screen and (max-width: 400px) {
  .comment__author-photo {
    height: 100px;
    width: 100px;
  }
}
.comment__author-photo {
  /* fallback for clamp */
  height: 150px;
  width: 150px;
  height: clamp(100px, 10vw, 150px);
  width: clamp(100px, 10vw, 150px);
  border-radius: 50%;
  margin-bottom: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.carousel__nav-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  min-height: 30px;
  height: auto;

  margin-bottom: calc(var(--margin-bottom-component) + 0.2vw);
}
.nav-panel__dot {
  height: 15px;
  width: 15px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: var(--clr-secondary-1);
}
.nav-panel__dot.nav-panel__dot--active {
  background-color: var(--clr-secondary-2);
}
/* ---------- END: social proof ---------- */

/* --------------- contact --------------- */
/* NOTE: contact styling goes here */

.contact {
  background-color: var(--clr-secondary-1);
  /* min-height: 90vh; */
  padding-top: 0;
}

.contact__illustration {
  height: 50vh;
  min-height: 450px;
  background-image: url(./assets/images/a-close-up-on-a-phone.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact__container {
  padding-top: 4rem;
}

.contact__actions {
  margin-top: 30px;
}
.contact__message {
  color: var(--clr-primary-3);
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 0;
}

/* contact form */

.contact__form {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact__form-item {
  padding-top: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 15px auto;
  width: calc(5vw + 400px);
}

.contact__form-label {
  text-transform: uppercase;
  position: absolute;
  left: 1rem;
  /* top: 2%; */
  font-weight: 700;
  transition: all 0.2s ease-out;
  font-size: 0.8rem;
  color: var(--clr-secondary-1);
  transition: all 0.2s ease-out;
}
.contact__form-item:focus-within .contact__form-label {
  transform: translate(-10%, -195%) scale(1.2);
  color: var(--clr-primary-3);
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

#contact-name,
#contact-email {
  /* padding: 1.6rem 0.6rem 0.2rem 1rem; */
  padding: 1rem;
  padding-left: 6.5rem;
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: none !important;
  transition: padding-left 0.2s ease-out;
}

#contact-name:focus,
#contact-email:focus {
  padding-left: 0.6rem;
  outline: 3.5px solid var(--clr-primary-2);
}

/* Floating column for inputs: 75% width */
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-50 {
    width: 100%;
    margin-top: 0;
  }
}
/* ------------- END: contact ------------ */

/* ---------------- footer --------------- */
footer {
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-3);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.footer__contact-list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer__contact-item {
  text-align: left;
}

.footer__contact-item-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.footer__contact-item-divider {
  display: block;
  margin: 0 auto 0.6rem;
  height: 100px;
  width: 1.5px;
  background-color: var(--clr-secondary-1);
}

.footer__socials-item {
  display: inline-block;
}

.footer__socials-icon {
  margin: 25px 5px;
  height: 35px;
  width: 35px;
}

.footer__copyright {
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .footer__contact-item {
    display: block;
    width: 100%;

    margin: 0px 40px 40px;
  }

  .footer__contact-item-divider {
    display: none;
  }
}
/* ------------- END: footer ------------- */

/* --------------------------------------- */
/*            END: SECTIONS            */
/* --------------------------------------- */

/* --------------------------------------- */
/*                SUB PAGES                */
/* --------------------------------------- */

/* ----------- collaboration pg ---------- */

#collaborate {
  margin-top: 60px;
  padding-top: 4rem;
  background-color: var(--clr-secondary-1);
}

.collaborate-grid {
  display: grid;
  gap: 0 10rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: stretch;
}

@media only screen and (max-width: 960px) {
  .collaborate-grid {
    gap: 0 calc(2rem + 2vw);
  }
}

.collaborate__title,
.collaborate__subtitle,
.collaborate__content-title,
.collaborate__content-body {
  /* text-transform: capitalize; */
  color: var(--clr-primary-3);
}
.collaborate__subtitle {
  font-size: var(--fs-title-medium);
}
.collaborate__content-title {
  font-size: var(--fs-title-regular);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

#who-you-are,
#what-you-get,
#collaborate-action {
  padding: 1rem 0;
}
.collaborate-action__form {
  flex-direction: column;
}
.collaborate-action__form > .contact__form-item {
  width: 100%;
}

.contact__form-item.textarea:focus-within > .textarea-label {
  transform: translateY(-210%) scale(1.2);
}

textarea {
  min-height: 180px;
  padding-top: 2.8rem;
  padding-left: 1rem;
  transition: padding-top 0.2s ease-in-out;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
  caret-color: var(--clr-primary-1);
  resize: none;
}
textarea:focus {
  padding-top: 2rem;
  outline: 3.5px solid var(--clr-primary-2);
}
.textarea-label {
  top: 14%;
}

/* --------------- about pg -------------- */
/* ------------- hero ----------- */

#about__hero {
  background-image: url(./assets/images/people-seated-on-table.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  /* z-index: -1; */
}

.about__hero {
  min-height: 40vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--clr-primary-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-top: 3.5rem;
  transition: background-color 0.2s ease-out;
}

@media only screen and (max-width: 800px) {
  .about__hero {
    background-color: rgba(7, 46, 80, 0.8);
  }
}

.about__hero-title {
  margin-bottom: 0.5em;
}

.about__hero-title,
.about__title,
.about__intro {
  color: var(--clr-primary-3);
  text-align: center;
  letter-spacing: 1.25px;
}

.about__title,
.about__hero-title {
  padding-bottom: 0;
  font-size: var(--fs-title-medium);
}

.about__intro {
  font-size: var(--fs-content);
}

/* ----------- values ----------- */

#about__values {
  padding: 0;
}

.about__values {
  background-color: var(--clr-primary-2);
}

.about__values-header {
  background-color: var(--clr-secondary-1);
  padding-top: 2em;
}

.about__divider {
  display: block;
  margin: 1em auto 0;
  height: 5px;
  width: 50px;
  background-color: var(--clr-primary-3);
}

/*sections*/

.about__values-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
}

.about__values-section:not(:first-child):nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
  background-color: var(--clr-secondary-1);
}

.about__values-section:not(:first-child):nth-child(odd) img {
  margin-left: 2em;
}

.about__values-section:not(:first-child):nth-child(even) img {
  margin-right: 2em;
}

.about__values-text {
  color: var(--clr-primary-3);
  font-size: var(--fs-content);
  letter-spacing: 0.5px;
}

.about__values-title {
  font-size: var(--fs-title-regular);
  background-color: var(--clr-primary-3);
  font-family: "Passion One", cursive;
  font-size: 28px;
  padding: 4px;
  color: var(--clr-secondary-1);
}

.about__values-description {
  margin-top: 15px;
  max-width: 230px;
}

.about__values-section:not(:first-child):nth-child(odd) .about__values-title {
  background-color: var(--clr-primary-3);
  color: var(--clr-primary-2);
}

.about__values-image {
  width: 35%;
  min-width: 180px;
  max-width: 230px;
}

/*media queries*/

@media only screen and (max-width: 500px) {
  .about__title {
    font-size: var(--fs-title-medium);
  }

  .about__values-section {
    flex-direction: column;
  }

  .about__values-section:not(:first-child):nth-child(even) {
    flex-direction: column;
  }

  .about__values-text {
    width: 85%;
    margin-bottom: 1em;
  }

  .about__values-section img {
    display: block;
  }

  .about__values-description {
    margin-top: 15px;
    max-width: none;
  }

  .about__values-section:not(:first-child):nth-child(even) p {
    padding-left: 15%;
  }

  .about__values-section:not(:first-child):nth-child(odd) p {
    padding-right: 15%;
  }

  .about__values-section:not(:first-child):nth-child(odd) img {
    margin-left: 0;
  }

  .about__values-section:not(:first-child):nth-child(even) img {
    margin-right: 0;
  }

  .about__values-image {
    width: 85%;
    max-width: none;
  }
}

@media only screen and (max-width: 300px) {
  .about__values-section img {
    display: none;
  }

  .about__values-section:not(:first-child):nth-child(even) p {
    padding-left: 0;
  }

  .about__values-section:not(:first-child):nth-child(odd) p {
    padding-right: 0;
  }
}

/* ----------- team ----------- */

.about__team {
  background: var(--clr-secondary-1);
  padding: 2.5em 1em;
}

.about__team-header {
  margin-bottom: 2em;
}

.about__team-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about__team-member {
  width: 225px;
  text-align: center;
  margin: 1em 1em 1.5em;
}

.about__team-image {
  width: 180px;
  border-radius: 50%;
}

.about__team-name {
  font-size: 24px;
  color: var(--clr-primary-3);
  font-family: "Passion One", cursive;
  letter-spacing: 0.5px;
  margin-top: 0.5em;
}

.about__team-role {
  color: var(--clr-primary-3);
  letter-spacing: 0.5px;
}

@media only screen and (min-width: 1050px) {
  .about__team-section {
    flex-wrap: nowrap;
  }

  .about__team-member {
    flex-basis: 33%;
  }
}

@media only screen and (max-width: 818px) {
  .about__team-member:not(nth-child(3n)) {
    flex-basis: 49%;
  }

  .about__team-member:nth-child(3n) {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .about__team {
    padding-top: 3em;
  }

  .about__team-member,
  .about__team-middle {
    min-width: 100px;
    width: 80%;
    margin: 2em 1em 2.5em;
  }

  .about__team-member:last-child {
    margin: 2em 1em 0;
  }
}

/* ------------ end: about pg ------------ */
/* -------- end: collaboration pg -------- */

/* -------------- pricing pg ------------- */

#pricing-page {
  background-color: var(--clr-secondary-1);
}
#pricing {
  margin-top: 60px;
  padding-top: 4rem;
}
.pricing__title,
.pricing__subtitle {
  color: var(--clr-primary-3);
  text-align: center;
  margin: 0 auto;
}

.pricing__subtitle {
  font-size: var(--fs-title-regular);
}

.card__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0 4.5rem 0;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 290px;
  min-height: 400px;
  margin: 1.5rem auto;
  border-radius: 10px;
  padding: 1.5rem 1.2rem;
  /* background-color:  var(--clr-secondary-2); */
}

@media only screen and (max-width: 900px) {
  .card__container {
    max-width: 700px;
    flex-direction: column;
  }
  .card {
    max-width: 400px;
    min-height: 200px;
  }
}

.card__content-wrapper {
  padding-bottom: 3rem;
}
.card__pricing {
  border: 2px solid var(--clr-primary-1);
}

.card__pricing--prem {
  box-shadow: var(--btn-drop-shadow);
  background-color: var(--clr-primary-2);
  border: none;
  transform: scale(1);
  flex-shrink: 1;
  animation: delayed-scale 0.5s forwards;
  animation-delay: 1s;
  transition: animation 0.2s cubic-bezier(0.92, 0.22, 0.46, 1.32);
}

@keyframes delayed-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.08);
  }
}

@media only screen and (max-width: 900px) {
  .card__pricing--prem {
    border: 2px solid transparent;
    animation: none !important;
    transform: scale(1);
  }
  .card__title--prem {
    font-size: unset;
  }
}

.card__title,
.card__content {
  color: var(--clr-primary-3);
}

.card__title--prem {
  font-size: var(--fs-title-medium) !important;
}

.card__title {
  display: block;
  text-transform: capitalize;
  font-size: clamp(28px, 4vw, 34px);
  text-align: center;
}
.card__pricing-content {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  position: relative;
}
.card__pricing-content--feat {
  /* padding-left: 1.75rem; */
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}
.card__pricing-icon {
  transform: translateY(8%);
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

/* .card__pricing-content--feat::before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/icons/check-icon.svg);
} */
