/* --------------------------------------- */
/*               reset                */
/* --------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* the basic */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------------------- */
/*             END: reset             */
/* --------------------------------------- */

/* --------------------------------------- */
/*           GLOBAL ELEMENTS           */
/* --------------------------------------- */

/* ------------- color scheme ------------ */
:root {
  /* primary */
  --clr-primary-1: #ef4857;
  --clr-primary-2: #072e50;
  --clr-primary-3: #fafafa;
  /* secondary */
  --clr-secondary-1: #35526a;
  --clr-secondary-2: #7e9eba;
  --clr-secondary-3: #0e0e0e;
  --clr-secondary-4: #c4c4c4;
}

/* ---------- END: color scheme ---------- */

/* -------------- typography ------------- */

/* text padding */
:root {
  --title-padding-bottom: 1.2rem;
  --content-padding-bottom: 0.6rem;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(16px, 1.2vw, 18px);
}
header > nav,
.title,
.subtitle,
.call-to-actions,
.header__brand {
  font-family: "Roboto Condensed", sans-serif;
}
.title,
.subtitle {
  line-height: 1;
}
.title {
  font-size: clamp(38px, 5vw, 72px);
  font-weight: 700;
  padding-bottom: var(--title-padding-bottom);
}
.subtitle {
  font-weight: 400;
  padding-bottom: var(--content-padding-bottom);
}

.header__brand,
.header__nav-item {
  text-transform: uppercase;
  font-family: "Roboto Condensed", san-serif;
  font-weight: 700;
}
/* ----------- END: typography ----------- */

/* --------------- buttons --------------- */
/* btn-variables*/
:root {
  --btn-drop-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08),
    2px 12px 20px rgba(0, 0, 0, 0.1);
  --btn-border-radius: 5px;
  --btn-background: var(--clr-primary-1);
  --btn-background-hover: var(--clr-secondary-1);
  --btn-color: var(--clr-primary-2);
  --btn-color-hover: var(--clr-primary-3);
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
/* button:focus { 
} 
*/
.btn-primary,
.btn-secondary {
  box-shadow: var(--btn-drop-shadow);
  border-radius: var(--btn-border-radius);
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 1.2rem; */
}
.btn-primary {
  background-color: var(--btn-background);
  color: var(--btn-color);
  transition: all 0.2s ease-out;
}
.btn-primary:hover {
  color: var(--btn-color-hover);
}
.btn-primary:focus {
  outline: 0.1rem dotted var(--clr-primary-2);
}
.container {
  /* NOTE: this container should be used to wrapp
  the content only; wrapping the whole section may
  cause undesired horizontal shrink */
  max-width: 1600px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

/* --------------------------------------- */
/*          END: GLOBAL ELEMENTS        */
/* --------------------------------------- */

/* --------------------------------------- */
/*              SECTIONS              */
/* --------------------------------------- */

/* -------------- navigation ------------- */
/* NOTE: nav styling goes here */

header {
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  /*   padding-top: 0.7rem; */
  /*   set height to make site-nav overflow */
  /*   for better background color control */
  max-height: 60px;

  background: var(--clr-primary-1);
  box-shadow: 0px 11px 18px -1px rgba(0, 0, 0, 0.1),
    0px 11px 29px 5px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: minmax(auto, 60px) minmax(auto, 1fr);
  align-items: center;
  justify-content: flex-end;
}

/* navigation grid layout */
.header__brand,
.header__burger-btn,
.header__site-nav {
  grid-row: 1/2;
}
.header__brand {
  grid-column: 1/2;
}
.header__burger-btn {
  grid-column: 3/-1;
}
.header__site-nav {
  grid-column: 2/3;
}
/* end: navigation grid layout */
.header__brand {
  font-size: 1.5rem;
  display: block;
}
.nav-link {
  text-decoration: none;
  color: var(--clr-primary-2);
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:focus-within {
  color: var(--clr-primary-3) !important;
}

/* burger btn */
.header__burger-btn {
  display: none;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-self: right;
  align-self: center;
  max-width: 40px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  cursor: pointer;
  padding: 0.3rem;
  border: none;
  background: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  z-index: 100;
}
.header__burger-btn:focus {
  outline: 0.1rem dotted var(--clr-primary-3);
}
.header__burger-btn:hover .burger-btn__stick,
.header__burger-btn:focus .burger-btn__stick,
[aria-expanded="true"] .burger-btn__stick {
  background-color: var(--clr-primary-3);
}

.burger-btn__stick {
  display: block;
  height: 2px;
  width: 25px;
  background-color: var(--clr-primary-2);
}

.burger-btn__stick:nth-of-type(2n) {
  margin: auto 0;
}

/* end: burger btn */

.header__site-nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-item {
  text-align: right;
  position: relative;
  list-style: none;
  padding: 1.2rem 0;
  width: 100%;
  transition: background-color 0.2s ease;
  z-index: 20;
}
.btn-primary__nav-item {
  background: var(--clr-primary-2);
  color: var(--clr-primary-3);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.btn-primary__nav-item:hover {
  background-color: var(--clr-secondary-2);
}
.btn-primary__nav-item:focus {
  outline: 0.1rem dotted var(--clr-primary-3);
}

/* responsive breakpoint */

@media only screen and (max-width: 960px) {
  .header__burger-btn {
    display: flex;
  }
  .header__site-nav {
    opacity: 1;
    grid-row: 2/-1;
    grid-column: 1/-1;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 0.3s ease-out;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
  }
  .header__site-nav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-1);
  }
  .header__site-nav-group {
    flex-direction: column;
  }
  .header__nav-item {
    text-align: center;
    position: relative;
  }

  [aria-expanded="false"] ~ nav {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    pointer-events: none;
  }

  /* .header__nav-item:hover .nav-link, */
  .header__nav-item:hover:focus .nav-link {
    color: var(--clr-primary-3);
  }
}

/* ----------- END: navigation ----------- */

/* ----------------- hero ---------------- */
/* NOTE: hero styling goes here */

/* -------------- END: hero -------------- */

/* --------------- features -------------- */
/* NOTE: features styling goes here */

/* ------------ END: features ------------ */

/* ------------- social proof ------------ */
/* NOTE: social proof styling goes here */

/* ---------- END: social proof ---------- */

/* --------------- contact --------------- */
/* NOTE: contact styling goes here */

/* ------------- END: contact ------------ */

/* ---------------- footer --------------- */
/* NOTE: footer styling goes here */

/* ------------- END: footer ------------- */

/* --------------------------------------- */
/*            END: SECTIONS            */
/* --------------------------------------- */
